<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
    <main>
        <h1>Transactions</h1>
        <section>
            <h5>Send money</h5>
            <div>
                <form method="get" th:action="@{/createConnection}">
                    <button class="btn btn-primary btn-block" type="submit">Add
                        Connection</button>
                </form>
            </div>
            <form method="post" th:action="@{/account/transfertMoneyBetweenAcounts}"
            	 th:object=${transaction}>
                <select th:field="*{receiverAccount}" class="form-select">
                    <option value="">Select A Connection</option>
                    <option th:each=" connection :  ${userConnections}"
                    th:value="${connection.getAccounts().stream().findFirst().get().getAccountId()}"
					th:utext="${connection.getFirstName()} + ' ' + ${connection.getLastName()}" /></option>
                   
                </select>
                <input type="hidden" th:value="${account.getAccountId()}" name="senderAccount" />
                <input th:field="*{amount}" type="number" class="form-control" />
                <label for="story">Description</label>
				<textarea th:field="*{description}" id="description" rows="5"
					cols="33"></textarea>
                <button class="btn btn-primary btn-block" type="submit">Valider </button>
            
            </form>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Connections</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                    
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="transaction : ${debitTransactions}">
                        <td><span th:text="${transaction.getReceiverAccount().getUser().getFirstName()} + ' ' + ${transaction.getReceiverAccount().getUser().getLastName()}"> </span></td>
                        <td><span th:text="${transaction.getDescription()}"> </span></td>
                    	<td><span th:text="${transaction.getAmount()}"> </span></td>
                    </tr>
                </tbody>
            </table>
        </section>
        
    </main>
</body>
</html>