<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>
	<main>
		<h2 th:text="'Hello, ' + ${userFullName} + '!'"></h2>
		<section>
			<table class="table table-hover" id="appAccounts">
				<thead>
					<tr>
						<th scope="col">Account</th>
						<th scope="col">Balance</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="account : ${appAccounts}">
						<td th:data-accountId="${account.getAccountId()}"
							th:text="${account.getAccountId()}"></td>
						<td><span th:text="${account.getBalance()}"> </span></td>
					</tr>

				</tbody>
			</table>
			<section>
				<table class="table table-hover" id="bankAccounts">
					<thead>
						<tr>
							<th scope="col">Bank Account</th>
							<th scope="col">Bank Account</th>
							<th scope="col">Balance</th>
							<th scope="col">Bank Name</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="bankAccount : ${bankAccounts}">
							<td th:data-accountId="${bankAccount.getAccountId()}"
								th:text="${bankAccount.getAccountId()}"></td>
							<td><span th:text="${bankAccount.getIban()}"> </span></td>
							<td><span th:text="${bankAccount.getBalance()}"> </span></td>
							<td><span th:text="${bankAccount.getBankName()}"> </span></td>
						</tr>


					</tbody>
				</table>
			</section>



		</section>
		<div>
			<form method="get" th:action="@{/account/createBankAccount}">
				<button class="btn btn-primary btn-block" type="submit">Add
					bank account</button>
			</form>
		</div>
		<div>
			<form method="post"
				th:action="@{/account/transfertMoneyBetweenAcounts}"
				th:object=${transaction}>
				<label>From: </label>
				<select th:field="*{senderAccount}"
					class="form-select">
					<option value="">--</option>
					<option th:each="account : ${accounts}"
						th:value="${account.getAccountId()}"
						th:utext="${account.getAccountId()}" />
				</select> 
				<label>To: </label> <select th:field="*{receiverAccount}"
					class="form-select">
					<option value="">--</option>
					<option th:each="account : ${accounts}"
						th:value="${account.getAccountId()}"
						th:utext="${account.getAccountId()}" />
				</select>
				<label>Amount</label>
				 <input th:field="*{amount}" type="number"
					class="form-control" /> 
				<label for="story">Description</label>
				<textarea th:field="*{description}" id="description" rows="5"
					cols="33"></textarea>


				<button class="btn btn-primary btn-block" type="submit">Valider
				</button>
			</form>
		</div>

		<div>
			<form method="post" th:action="@{/logout}">
				<button class="btn btn-primary btn-block" type="submit">Logout</button>
			</form>
		</div>
	</main>
</body>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</html>